<div class="menu_footer">
    <div>
        <h5>SOBRE MÍ</h5>

        <ul>
            <li>
                <a href="">Mi Historia</a>

            </li>
            <li>
                <a href="">Mi contenido para tu cocina</a>

            </li>
            <li>
                <a href="">Mi contenido para tu familia</a>

            </li>
            <li>
                <a href="">Recetas saludables</a>

            </li>
            <li>
                <a href="">Entretenimiento para tus hijos</a>

            </li>
        </ul>

    </div>
    <div>
        <h5>AUSPICIADORES</h5>

        <ul>

            <li>
                <a class="auspiciador" ng-href="/auspiciadores/alacena" ng-click="setPageCss('notes')" href="/">auspiciador</a></li>
            <li>
                <a class="auspiciador" ng-href="/auspiciadores/blanca_flor" ng-click="setPageCss('notes')" href="/">auspiciador</a>
            </li>
            <li>
                <a class="auspiciador" ng-href="/auspiciadores/bolivar" ng-click="setPageCss('notes')" href="/">auspiciador</a></li>
            <li>
                <a class="auspiciador" ng-href="/auspiciadores/don_vittorio" ng-click="setPageCss('notes')" href="/">auspiciador</a>
            </li>
            <li>
                <a class="auspiciador" ng-href="/auspiciadores/opal" ng-click="setPageCss('notes')" href="/">auspiciador</a></li>
            <li>
                <a class="auspiciador" ng-href="/auspiciadores/primor" ng-click="setPageCss('notes')" href="/">auspiciador</a></li>
            <li>
                <a class="auspiciador" ng-href="/auspiciadores/recetario_nicolini" ng-click="setPageCss('notes')" href="/">auspiciador</a></li>
        </ul>


    </div>
</div>